<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Input Form</title>
</head>
<body>
    <h1>Please enter the start and the end dates of invoices creation period</h1>
    <form action="/invoices" method="post">
        <div>
        <a href="/">Go to home page with services choice</a>
        </div>
        <br>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>
        <input type="submit" value="Submit">
        <br>
    </form>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
            const token = localStorage.getItem('jwt_token');
            if (token) {
                window.location.href = '/invoice_dates';
        } else {
            window.location.href = '/login';
        }
    });

    </script>
</body>
</html>